fastapi~=0.115.0
typer~=0.12.3
nats-py==2.9.0
#DB
SQLAlchemy~=2.0.35
alembic~=1.13.3
pydantic-settings~=2.6.0
#drivers
asyncpg~=0.30.0
aiosqlite~=0.20.0
uvicorn~=0.32.0
greenlet~=3.1.1
#telemetry
logfire[fastapi,sqlalchemy]~=1.2.0
